@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller='CreativeController'>
    <div class="col-md-2 col-sd-2" ng-init="getPopular()">
      @Html.Partial("_PopularCreatives")
       
    </div>
    <div class="col-md-7" data-ng-controller='CreativeController'>
        <div>
            Testing language locale:
            @Resources.Resource.ChooseLanguage
            @Resources.Resource.Name
        </div>
      @Html.Partial("_SortPanel")

        @Html.ActionLink("Add creative", "Create", "Creative")

        @Html.Partial("_CreativesList")
       
    </div>
    <div class="col-md-3 col-sd-3">
        @Html.Partial("_TagCloud")
    </div>
</div>