@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" ng-controller="UserController">
        <li ng-init="getUriAvatar('@User.Identity.GetUserId()')">
            <img class="img-circle navbarImage" style="width: 60px; height: 60px" src="{{UserAvatarUri}}" />
        </li>
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "UserPage", "User", routeValues: null, htmlAttributes: new { title = "UserPage" })
        </li>
        <li>
            @Html.ActionLink("Подписки", "SubscribeCategory", "User", routeValues: null, htmlAttributes: new { title = "Subscribes" })
        </li>
       
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Resource.LogOf</a></li>
    </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Resource.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}