@model SellTables.Models.Creative

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="video-wrapper" class="video-wrapper">
    <video autoplay loop id="bgvid">
        <source src="~/Content/video/bck.mp4" type="video/mp4">
    </video>
</div>

<header class="intro-header container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>@Model.Name</h1>
                    <hr class="small">
                    <span class="subheading">by @Model.User.UserName</span>
                    <img src="@Model.CreativeUri" style="width: 30%; height: 30%" class="img-thumbnail" />
                </div>
            </div>
        </div>
        <div class="col-md-offset-4">
            <input id="input-21b" value="@Model.Rating.ToString().Replace(",",".")" type="number" class="rating" min=0 max=5 step=0.1 data-size="md" disabled>
        </div>
    </div>
</header>

<div class="container">
    <div ng-controller="WidthChangeController">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-left">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-font"></span>
                        @Resources.Resource.Font
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu cursor-pointer">
                        <li><a ng-click="changeFontTo70()">70%</a></li>
                        <li><a ng-click="changeFontTo100()">100%</a></li>
                        <li><a ng-click="changeFontTo200()">200%</a></li>
                        <li><a ng-click="changeFontTo300()">300%</a></li>
                    </ul>
                </div>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-search"></span>
                        @Resources.Resource.Scale
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="changeTo40()">40%</a></li>
                        <li><a ng-click="changeTo60()">60%</a></li>
                        <li><a ng-click="changeTo80()">80%</a></li>
                        <li><a ng-click="changeTo100()">100%</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var c in Model.Chapters)
            {
                <div class="swiper-slide container">
                    <div class="well col-md-12 col-sm-12 col-xs-12"
                         name="content"
                         style="background-color: rgba(245, 245, 245, 0.2);">
                        <h2 class="text-center">@c.Name</h2>
                        @Html.Raw(c.Text)
                    </div>
                </div>
            }
        </div>
        <div class="swiper-pagination swiper-pagination-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>
</div>

<link rel="stylesheet" href="~/Content/somestyles/swiper.css" />
<link rel="stylesheet" href="~/Content/pageStyles/creativeDetailsStyles.css" />
<script src="~/Scripts/scripts/swiper.js"></script>
<script src="~/Scripts/pageScripts/creativeDetailsScript.js"></script>
