@model SellTables.ViewModels.RegisterCreativeModel
@{
    ViewBag.Title = "CreateChapter";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Creative = ViewBag.Creative;
}


<link href="~/Scripts/summernote/summernote.css" rel="stylesheet">
<script src="~/Scripts/summernote/summernote.js"></script>
<header class="intro-header container-fluid" style="background-image: url('http://www.freeoboi.ru/images/249509332.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Creatives</h1>
                    <hr class="small">
                    <span class="subheading">See what people create here</span>
                </div>
            </div>
        </div>
    </div>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.HiddenFor(model => model.creativeId)
            @Html.HiddenFor(model => model.chapterId)
            @Html.LabelFor(model => model.Chapter.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Chapter.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Chapter.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Chapter.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.HiddenFor(model => model.Chapter.Text, new { htmlAttributes = new { @class = "form-control" } })
                <div class="col-md-offset-2" id="summernote">@Html.Raw(Model.Chapter.Text)</div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Chapter.TagsString, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Chapter.TagsString, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" type="submit" value="Edit" class="btn btn-success col-md-offset-5 col-md-6" />
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#summernote').summernote();
    });
    document.getElementById("submit").onclick = function () {
        document.getElementById("Chapter_Text").value = $('#summernote').summernote('code');
    };
</script>


