
@using SellTables.Models
@using SellTables.ViewModels
@model LoginRegisterUserModel
@{
    ViewBag.Title = "Log in";
}
<header class="intro-header container-fluid" style="background-image: url('http://www.freeoboi.ru/images/249509332.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Login page</h1>
                    <hr class="small">
                    <span class="subheading">Log in</span>
                </div>
            </div>
        </div>
    </div>
</header>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "login-form", style = "display: block;" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.LoginViewModel.UserName, new { @class = "form-control", placeholder = "Login", tabindex = 1, value = "" })
                                    @Html.ValidationMessageFor(m => m.LoginViewModel.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control", placeholder = "Password", tabindex = 2, id = "password" })
                                    @Html.ValidationMessageFor(m => m.LoginViewModel.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            }
                                    <div class="text-center">
                                        <section id="socialLoginForm">@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })</section>
                                    </div>
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { style="display: none;", role = "form", id = "register-form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.UserName, new { @class = "form-control", placeholder = "User Name" })
                                    @Html.ValidationMessageFor(m => m.RegisterViewModel.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.RegisterViewModel.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.RegisterViewModel.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                    @Html.ValidationMessageFor(m => m.RegisterViewModel.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}