@using SellTables.Models;
@model ApplicationUser
@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="intro-header container-fluid" style="background-image: url('https://res.cloudinary.com/qwe123/image/upload/v1480080465/luxfon.com_2029_wpz8xl.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2 class="fontComic">@Resources.Resource.UserPage</h2>
                    <h1 class="fontComic">@Model.UserName</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="services-sec">
    <div class="container" ng-controller="CreativeController" ng-init="getCreativesByUser('@Model.UserName')">
        <div class="row ">
            <div class="col-md-12">
                <div class="col-md-8 col-sm-8">
                    <h2>@Resources.Resource.SomeUserInfo</h2>
                    <span>
                        @Resources.Resource.SomeUserInfoText
                    </span>
                </div>
                <div class="col-md-4 col-sm-4 text-center" id="myScroll">
                    <p>
                        <div id="dropzone" ng-controller="UserController">
                            <img class="file__drop imageDrop" src="@Model.AvatarUri" data-image data-image-uploader />
                        </div>
                        <br />
                        <a href="#section1">@Model.UserName<br /></a>
                        @foreach (var medal in Model.Medals)
                        {
                            <img class="userPageMedals" src="@medal.ImageUri" title="@medal.Name" />
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4  col-sm-4">
                <i class="fa faa-horizontal animated icon-round bk-color-black timer count-title" id="count-number"
                   data-to="@Model.ChaptersCreateCounter" data-speed="9300"></i>
                <h4>@Resources.Resource.AllChapters</h4>
                <p>
                    @Resources.Resource.AllChaptersText
                </p>

            </div>
            <div class="col-md-4  col-sm-4">
                <i class="fa faa-float animated icon-round bk-color-blue timer count-title" id="count-number"
                   data-to="@Model.Creatives.Count" data-speed="9300"></i>
                <h4>@Resources.Resource.AllCreativesCount </h4>
                <p>
                    @Resources.Resource.AllCreativesText
                </p>

            </div>
            <div class="col-md-4  col-sm-4">
                <i class="fa faa-ring animated icon-round bk-color-brown timer count-title" id="count-number"
                   data-to="@Model.Medals.Count" data-speed="9300"></i>
                <h4>@Resources.Resource.AllMedalsCount</h4>
                <p>
                    @Resources.Resource.AllMedalsText
                </p>

            </div>
        </div>
        <div class="row">
            <div ng-repeat='creative in creatives' class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                <div class="box7">

                    <header>
                        <div class="row">
                            <div class="col-md-11 col-sm-11 col-xs-11 col-lg-11"></div>
                            <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">

                                <i class="glyphicon glyphicon-remove cursor-pointer" ng-click="deleteCreativeById(creative.Id, '@User.Identity.Name')">

                                </i>

                            </div>
                        </div>
                    </header>
                    <div ng-controller="MainController" class="row">
                        <div class="text-center">

                            <span class="cursor-pointer font200"
                                  ng-click="redirectToCreative(creative.Id)">
                                {{creative.Name}}
                            </span>
                            @if ((User.Identity.Name == Model.UserName) || User.IsInRole("admin"))
                            {
                                <i class="glyphicon glyphicon-pencil cursor-pointer" data-toggle="modal" data-target=".changeNameModal{{$index}}"></i>
                            }
                        </div>
                        <div class="modal fade changeNameModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Change name</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" class="form-control" ng-model="newCreativeName" placeholder="{{creative.Name}}" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button ng-click="updateCreativeName(creative.Id, newCreativeName, '@Model.UserName', $index)" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="dropzone">
                            <img class="file__drop imageDrop" src="{{creative.CreativeUri}}" />
                        </div>
                        @if ((User.Identity.Name == Model.UserName) || User.IsInRole("admin"))
                        {
                            <div class="row text-center">
                                <span ng-click="startChanging(creative.Id)"
                                      data-toggle="modal"
                                      data-target=".modal{{$index}}"
                                      class="cursor-pointer">
                                    <i class="glyphicon glyphicon-arrow-up"></i>
                                    Change picture
                                    <i class="glyphicon glyphicon-arrow-up"></i>
                                </span>
                            </div>
                        }
                        <div class="modal fade modal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">@Resources.Resource.ChangeImage</h4>
                                    </div>
                                    <div class="modal-body">
                                        <img class="file__drop userPageMedals" src="{{creative.CreativeUri}}" data-image-creative data-image-creative-uploader />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.Close</button>
                                        <button ng-click="acceptImageChange('@Model.UserName')" type="button" class="btn btn-primary" data-dismiss="modal">@Resources.Resource.SaveChanges</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="post-subtitle">
                        <a href="../../Creative/CreateChapter/?creativeId={{creative.Id}}" class="blackColor linkWithoutDecor">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                        <br />
                        <span class="glyphicon glyphicon-chevron-down cursor-pointer"></span>
                        <span role="button" data-toggle="collapse" href="#collapseExample{{$index}}"
                              aria-expanded="false" aria-controls="collapseExample" class="cursor-pointer">
                            @Resources.Resource.Chapters: {{creative.Chapters.length}}
                        </span>
                    </h4>
                    <div class="container">
                        <div class="collapse col-md-3" id="collapseExample{{$index}}">
                            <ul data-as-sortable="dragControlListeners"
                                data-ng-model="creative.Chapters">
                                <li data-ng-repeat="chapter in creative.Chapters"
                                    data-as-sortable-item>
                                    <div data-as-sortable-item-handle>
                                        {{chapter.Name}}
                                        @if ((User.Identity.Name == Model.UserName) || User.IsInRole("admin"))
                                        {
                                            <a href="../../Creative/EditChapter/?creativeId={{creative.Id}}&chapterId={{chapter.Id}}">Edit</a>
                                            <i class="cursor-pointer" ng-click="deleteChapterById(chapter.Id, '@Model.UserName')">Delete</i>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input-stars max="5" ng-model="creative.Rating" readonly></input-stars>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if ((User.Identity.Name == Model.UserName) || User.IsInRole("admin"))
        {
            <div class="row centered" id="section1">
                <div class="col-md-4">
                    @Html.Partial("../Account/ResetPassword", new ResetPasswordViewModel() { Name = Model.UserName, Type = "user" })
                </div>
                <div class="col-md-4">
                    @Html.Partial("../Account/ResetLogin", new ResetLoginViewModel() { Id = Model.Id, Type = "user" })
                </div>
                <div class="col-md-4">
                    @Html.Partial("../Account/ResetEmail", new ResetEmailViewModel() { Id = Model.Id, Type = "user" })
                </div>
            </div>
        }
    </div>

</section>
<input type="hidden" id="imageUploadInput" />

@section Scripts {
    @Scripts.Render("~/bundles/scroll")
    @Scripts.Render("~/bundles/dropzonescripts")
    @Scripts.Render("~/bundles/dropzoneForCreative")
    @Scripts.Render("~/bundles/userpage")
}
@section Styles {
    @Styles.Render("~/Content/somestyles")
    @Styles.Render("~/Content/dropzonescss")
}