@using SellTables.Models;
@model ApplicationUser
@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="intro-header container-fluid" style="background-image: url('http://www.freeoboi.ru/images/249509332.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>User Page of @Model.UserName</h1>  
                </div>
            </div>
        </div>
    </div>
</header>
<section id="services-sec">
    <div class="container" ng-controller="CreativeController" ng-init="getCreativesByUser('@Model.UserName')">

        <div class="row ">
            <div class="col-md-12">
                <div class="col-md-8 col-sm-8">
                    <h2>Some information about user page </h2>
                    <p>
                        Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                        Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                        Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                        Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                        Lorem ipsum dolor sit amet, accumsan.  posuere lectus et, fringilla augue.
                    </p>
                </div>

                <div class="col-md-4 col-sm-4 text-center" id="myScroll">
                    <p>
                       <img src="@Model.AvatarUri"/><br/>
                       <a href="#section1">@Model.UserName<br /></a>
                        @foreach (var medal in Model.Medals) {
                            <img style="width: 32px; height: 32px" src="@medal.ImageUri" title="@medal.Name"/>
                        }
                    </p>
                </div>
            </div>

        </div>
        <div class="row text-center">
            <div class="col-md-4  col-sm-4">
                <i class="fa faa-horizontal animated icon-round bk-color-black timer count-title" id="count-number"
                    data-to="@Model.ChaptersCreateCounter" data-speed="9300"></i>
                <h4>All chapters </h4>
                <p>
                    Total count of chapters, which
                    was created for the all time.

                </p>

            </div>
            <div class="col-md-4  col-sm-4">
                <i class="fa faa-float animated icon-round bk-color-blue timer count-title" id="count-number"
                    data-to="@Model.Creatives.Count" data-speed="9300"></i>
                <h4>All creatives count </h4>
                <p>
                    Total count of current creatives, 
                    which user have got right now
                </p>

            </div>
            <div class="col-md-4  col-sm-4">
                <i class="fa faa-ring animated icon-round bk-color-brown timer count-title" id="count-number"
                    data-to="@Model.Medals.Count" data-speed="9300"></i>
                <h4>All medals count </h4>
                <p>
                    The medals plays an a very important role for
                    some persons, who want to be most active.
                </p>

            </div>
        </div>
        <div class="row">
            <div ng-repeat='creative in creatives' class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                <div class="box3">
                    <header>
                        <div class="row">
                            <div class="col-md-11 col-sm-11 col-xs-11 col-lg-11"></div>
                            <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1">

                                <button ng-click="deleteCreativeById(creative.Id, '@User.Identity.Name')">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button> 

                            </div>
                        </div>
                    </header>
                    <div class="post-title">
                        <div ng-controller="MainController">
                            <h2 class="post-title cursor-pointer" 
                                ng-click="redirectToCreative(creative.Id)">Read creative</h2>
                        </div>
                        <div contenteditable data-directive ng-model="creative.Name"
                             ng-blur="updateCreativeName(creative.Id, creative.Name)">
                        <h2 class="post-title">{{creative.Name}}</h2>
                            </div>
                    </div>

                    <h4 class="post-subtitle cursor-pointer">
                        <a href="../../Creative/CreateChapter/?creativeId={{creative.Id}}">Add</a><br />
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        <span role="button" data-toggle="collapse" href="#collapseExample{{$index}}"
                               aria-expanded="false" aria-controls="collapseExample">
                            Глав: {{creative.Chapters.length}}
                        </span>
                    </h4>
                    <div class="collapse" id="collapseExample{{$index}}">

                        <div ng-repeat="chapter in creative.Chapters" ng-controller="MainController">
                            <span class="cursor-pointer" ng-click="redirect(chapter.Id)">
                                {{chapter.Name}}
                            </span>
                            <a href="../../Creative/EditChapter/?creativeId={{creative.Id}}&chapterId={{chapter.Id}}">Edit</a> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span id="{{$index}}1" ng-click="vote(1, creative)" class="glyphicon glyphicon-star-empty creative.Id+'1'" ng-mouseover="show($index,1)" ng-mouseleave="hide($index)" aria-hidden="true"></span>
                            <span id="{{$index}}2" ng-click="vote(2, creative)" class="glyphicon glyphicon-star-empty creative.Id+'1'" ng-mouseover="show($index,2)" ng-mouseleave="hide($index)" aria-hidden="true"></span>
                            <span id="{{$index}}3" ng-click="vote(3, creative)" class="glyphicon glyphicon-star-empty creative.Id+'1'" ng-mouseover="show($index,3)" ng-mouseleave="hide($index)" aria-hidden="true"></span>
                            <span id="{{$index}}4" ng-click="vote(4, creative)" class="glyphicon glyphicon-star-empty creative.Id+'1'" ng-mouseover="show($index,4)" ng-mouseleave="hide($index)" aria-hidden="true"></span>
                            <span id="{{$index}}5" ng-click="vote(5, creative)" class="glyphicon glyphicon-star-empty creative.Id+'1'" ng-mouseover="show($index,5)" ng-mouseleave="hide($index)" aria-hidden="true"></span>
                        </div>

                    </div>

                </div>

            </div>
            @*<div ng-repeat="creative in creatives">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading"> 
                            <div contenteditable data-directive ng-model="creative.Name"
                                  ng-blur="updateCreativeName(creative.Id, creative.Name)">{{creative.Name}}</div>
                                <button ng-click="deleteCreativeById(creative.Id, '@User.Identity.Name')" style="">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button> 
                            </div>
                        <div class="panel-body">
                            <a href="../../Creative/CreateChapter/?creativeId={{creative.Id}}">Add</a>
                            <div ng-repeat="chapter in creative.Chapters">
                                <p>{{chapter.Name}}</p>
                                <a href="../../Creative/EditChapter/?creativeId={{creative.Id}}&chapterId={{chapter.Id}}">Edit</a>  
                            </div>
                        </div>
                        <div class="panel-footer">
                            {{creative.CreationDate}} | {{creative.Rating}}
                        </div>
                    </div>
                </div>
            </div>*@
            </div>
        @if ((User.Identity.Name == Model.UserName) || User.IsInRole("admin"))
        {
        <div class="row" id="section1">
            <div class="col-md-4">
                @Html.Partial("../Account/ResetPassword", new ResetPasswordViewModel() { Name = Model.UserName, Type = "user" })
            </div>
            <div class="col-md-4">
                @Html.Partial("../Account/ResetLogin", new ResetLoginViewModel() { Id = Model.Id, Type = "user" })
            </div>
            <div class="col-md-4">
                @Html.Partial("../Account/ResetEmail", new ResetEmailViewModel() { Id = Model.Id, Type = "user" })
            </div>
        </div>
        }
        </div>
</section>

@*<style>
.panel-heading button { 
opacity: .3; 
background: transparent; 
font-size: 15px; 
border: none; 
position: absolute; 
color: black; 
} 
.panel-heading button:hover { 
opacity: 1; 
}
</style>*@
@section Scripts {
    @Scripts.Render("~/bundles/scroll")
}
@section Styles {
   @Styles.Render("~/Content/somestyles")
}