@model IEnumerable<SellTables.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="intro-header container-fluid" style="background-image: url('http://www.freeoboi.ru/images/249509332.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Admin page</h1>
                    <hr class="small">
                    <span class="subheading">See what people create here</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" ng-controller="AdminController">
    <div class="row" id="userList">
        @{
            foreach (var user in Model)
            {
                <div class="row main col-md-10 border-main-dark">
                    <div class="col-md-2 bg-main">
                        <ul class="border-main-dark list-unstyled">
                            <li><img src="@user.AvatarUri" /></li>
                                                   <li>
                                    <button type="button" class="btn btn-default default-button bg-main-light main border-blue interactive"
                                             id="DeleteUser"
                                             ng-click="DeleteUser('@user.UserName')">
                                        Delete User
                                    </button>
                                </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3><a href="../../User/UserPage/@user.UserName">@user.UserName</a></h3>
                        <p>Email: @user.Email</p>
                        <p>Joined: @user.RegistrationDate.ToString()</p>
                        <p>Role: @user.UserName</p>
                    </div>
                </div>
            }
        }
    </div>
</div>