@model IEnumerable<SellTables.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="intro-header container-fluid" style="background-image: url('http://www.freeoboi.ru/images/249509332.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Admin page</h1>
                    <hr class="small">
                    <span class="subheading">See what people create here</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" ng-controller="AdminController">
    <div class="row" id="userList">
        @{
            foreach (var user in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <img src="@user.AvatarUri" alt="avatar" class="img-rounded img-responsive" />
                                @foreach(var medal in user.Medals) { 
                                <img style="width: 32px; height: 32px" src="@medal.ImageUri" title="@medal.Name"/>
                                }
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4>
                                    @*<a href="../../User/UserPage/?name=@user.UserName">@user.UserName</a>*@
                                    @Html.ActionLink(@user.UserName, "UserPage", "Admin", new { area="", username = user.UserName.ToString()}, null)
                                </h4>
              
                                <p>
                                    <i class="glyphicon glyphicon-envelope"></i> @user.Email
                                    <br />
                                    <i class="glyphicon glyphicon-gift"></i>@user.RegistrationDate
                                </p> 
                                @if (user.LockoutEndDateUtc == null)
                                {
                                    <span ng-click="BanUser('@user.UserName')" class="fa fa-list">Ban</span>
                                }
                                else
                                {
                                    <span ng-click="UnbanUser('@user.UserName')" class="fa fa-list">Unban</span>
                                }
                                <span ng-click="DeleteUser('@user.UserName')" class="fa fa-warning">Delete user</span>

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
