@model IEnumerable<SellTables.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" ng-controller="AdminController">
    <div class="row" id="userList">
        @{
            foreach (var user in Model)
            {

                <div class="row main col-md-10 border-main-dark">
                    <div class="col-md-2 bg-main">
                        <ul class="border-main-dark list-unstyled">
                            <li><img src="@user.AvatarUri" /></li>
                                                   <li>
                                    <button type="button" class="btn btn-default default-button bg-main-light main border-blue interactive"
                                             id="DeleteUser"
                                             ng-click="DeleteUser('@user.UserName')">
                                        Delete User
                                    </button>
                                </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3><a href="../../User/UserPage/@user.UserName">@user.UserName</a></h3>
                        <p>Email: @user.Email</p>
                        <p>Joined: @user.RegistrationDate.ToString()</p>
                        <p>Role: @user.UserName</p>
                    </div>
                    @*@if (!ViewBag.AdminId.Equals(@user.Id))
                    {
                        <div class="col-md-5">
                            @Html.Partial("../Account/ResetPassword", new ResetPasswordViewModel() { Email = @user.Email })
                        </div>
                    }*@
                </div>
            }
        }
    </div>
</div>