@using SellTables.Models
@model SellTables.Models.ApplicationUser
@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/somestyles/AdminUserPage.css" />
<header class="intro-header container-fluid" style="background-image: url('http://www.freeoboi.ru/images/249509332.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>@Model.UserName</h1>
                    <hr class="small">
                    <span class="subheading">Page of user</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div ng-controller="UserController">
<section>
    <div class="container" style="margin-top: 30px;">
        <div class="profile-head">
            <div class="col-md- col-sm-4 col-xs-12">
                <img src="@Model.AvatarUri" class="img-responsive" />
                <h6>@Model.UserName</h6>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-12">
                <h5>@Model.UserName</h5>
                <ul>
                    <li><span class="glyphicon glyphicon-home"></span> Текущее количество медалей: @Model.Medals.Count</li>
                    <li><span class="glyphicon glyphicon-phone"></span> Текущее количество креативов: @Model.Creatives.Count</li>
                    <li><span class="glyphicon glyphicon-envelope"></span>@Model.Email</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="sticky" class="container">
        <ul class="nav nav-tabs nav-menu" role="tablist">
            <li class="active">
                <a href="#profile" role="tab" data-toggle="tab">
                    <i class="fa fa-male"></i> Profile
                </a>
            </li>
            <li>
                <a href="#change" role="tab" data-toggle="tab">
                    <i class="fa fa-key"></i> Edit Profile
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="profile">
                <div class="container">

                    <br clear="all" />
                    <div class="row" ng-controller="CreativeController"
                         ng-init="getCreativesByUser('@Model.UserName')">
                        <div ng-repeat="creative in creatives">
                            <div class="col-sm-11">{{creative.Name}}</div>
                            <div class="col-sm-1"><i ng-click="deleteCreativeById(creative.Id, '@Model.UserName')">Delete</i></div>

                        </div>

                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="change">
                <div class="container fom-main">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="register">Edit User Profile</h2>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <form class="form-horizontal main_form text-left" action=" " method="post" id="contact_form">
                            <fieldset>

                                <div class="col-md-12 text-left">
                                    <div class="uplod-picture">
                                        <span class="btn btn-default uplod-file">
                                            Upload Photo <input type="file" />
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group col-md-10">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-warning submit-button">Save</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="col-md-4">
                            @Html.Partial("../Account/ResetPassword", new ResetPasswordViewModel() { Name = Model.UserName, Type = "admin" })
                        </div>
                        <div class="col-md-4">
                            @Html.Partial("../Account/ResetLogin", new ResetLoginViewModel() { Id = Model.Id, Type = "admin" })
                        </div>
                        <div class="col-md-4">
                            @Html.Partial("../Account/ResetEmail", new ResetEmailViewModel() { Id = Model.Id, Type = "admin" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
